## exploration modèle 20 frames

In [1]:
!pip install sktime

Requirement already satisfied: sktime in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (0.14.0)
Requirement already satisfied: scikit-learn<1.2.0,>=0.24.0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (1.1.3)
Requirement already satisfied: numba>=0.53 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (0.56.4)
Requirement already satisfied: scipy<2.0.0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (1.9.1)
Requirement already satisfied: numpy<1.23,>=1.21.0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (1.22.4)
Requirement already satisfied: pandas<1.6.0,>=1.1.0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (1.5.1)
Requirement already satisfied: statsmodels>=0.12.1 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (0.13.2)
Requirement already satisfied: deprecated>=1.2.13 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from sktime) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from deprecated>=1.2.13->sktime) (1.14.1)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from numba>=0.53->sktime) (0.39.1)
Requirement already satisfied: setuptools in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from numba>=0.53->sktime) (65.4.1)
Requirement already satisfied: pytz>=2020.1 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from pandas<1.6.0,>=1.1.0->sktime) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from pandas<1.6.0,>=1.1.0->sktime) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn<1.2.0,>=0.24.0->sktime) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn<1.2.0,>=0.24.0->sktime) (1.2.0)
Requirement already satisfied: packaging>=21.3 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from statsmodels>=0.12.1->sktime) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from statsmodels>=0.12.1->sktime) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.12.1->sktime) (3.0.9)
Requirement already satisfied: six in /home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from patsy>=0.5.2->statsmodels>=0.12.1->sktime) (1.16.0)

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sktime.datatypes._panel._convert import from_2d_array_to_nested

from sktime.utils.data_processing import from_2d_array_to_nested

ModuleNotFoundError: No module named 'sktime.utils.data_processing'

In [92]:
import pandas as pd

df = pd.read_csv('data/BigDataFrame.csv') #bigDF.csv
#df = df.drop(columns="Unnamed: 0")
df

             x        y          V  bounce
0      961.000  856.000  22.707046       0
1      954.000  852.000   0.000000       0
2      954.000  852.000   0.000000       0
3      954.000  852.000   0.000000       0
4      954.000  852.000   0.000000       0
...        ...      ...        ...     ...
3669  1156.750  242.750  22.062762       0
3670  1169.375  239.375  21.409956       0
3671  1182.000  236.000  13.623924       0
3672  1183.000  244.000  15.243072       0
3673  1183.000  253.000  15.245651       0

[3674 rows x 4 columns]

In [93]:
df_1= df.copy()
print("BigDataFrame.csv")
print(df_1.shape)
print(df_1.head())
df_1.bounce.value_counts()

BigDataFrame.csv
(3674, 4)
       x      y          V  bounce
0  961.0  856.0  22.707046       0
1  954.0  852.0   0.000000       0
2  954.0  852.0   0.000000       0
3  954.0  852.0   0.000000       0
4  954.0  852.0   0.000000       0

0    3606
1      68
Name: bounce, dtype: int64

In [94]:
#nombre de bounce des 6 videos: 3, 5, 5, 9, 17, 29. 
3+5+5+9+17+29

68

### Création des lags == mise en forme des times series

In [95]:
#mais à quoi sert le shift?
df_ = df[f'lagX_'] = df['x'].shift(1, fill_value=0)
df_

0          0.000
1        961.000
2        954.000
3        954.000
4        954.000
          ...
3669    1144.125
3670    1156.750
3671    1169.375
3672    1182.000
3673    1183.000
Name: x, Length: 3674, dtype: float64

In [96]:

# Reshaping
# arr = np.array(df.drop('bounce', 1)[:-24]).reshape(146, 75)
# arr.shape
# data_consumption.loc[:,'Yesterday'] = data_consumption.loc[:,'Consumption'].shift()
# new = pd.DataFrame()

for i in range(20, 0, -1): 
  df[f'lagX_{i}'] = df['x'].shift(i, fill_value=0)

for i in range(20, 0, -1): 
  df[f'lagY_{i}'] = df['y'].shift(i, fill_value=0)
  df[f'lagV_{i}'] = df['V'].shift(i, fill_value=0)
  #  df[f'lagVx_{i}'] = df['Vx'].shift(i)
  #  df[f'lagVy_{i}'] = df['Vy'].shift(i)

# df['rolling_meanX'] = df['x'].rolling(window=20).mean()
# df['expanding_meanX'] = df['x'].expanding(20).mean()
# df['rolling_meanY'] = df['y'].rolling(window=20).mean()
# df['expanding_meanY'] = df['y'].expanding(20).mean()
# df['rolling_meanV'] = df['V'].rolling(window=20).mean()
# df['expanding_meanV'] = df['V'].expanding(20).mean()

# df.dropna(inplace=True)
# new['bounce'] = df.bounce

#df.drop(['x', 'y', 'V'], 1, inplace=True)
df.drop(['x', 'y'], 1, inplace=True)
print(df.shape)
# df = df[reversed(df.columns)]
df

(3674, 63)

/tmp/ipykernel_532/3513399654.py:27: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['x', 'y'], 1, inplace=True)

,V,bounce,lagX_,lagX_20,lagX_19,lagX_18,lagX_17,lagX_16,lagX_15,lagX_14,...,lagY_5,lagV_5,lagY_4,lagV_4,lagY_3,lagV_3,lagY_2,lagV_2,lagY_1,lagV_1
0,22.707046,0,0.000,0.00,0.00,0.00,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.000000
1,0.000000,0,961.000,0.00,0.00,0.00,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.000000,856.000,22.707046
2,0.000000,0,954.000,0.00,0.00,0.00,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,0.000,0.000000,856.000,22.707046,852.000,0.000000
3,0.000000,0,954.000,0.00,0.00,0.00,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,856.000,22.707046,852.000,0.000000,852.000,0.000000
4,0.000000,0,954.000,0.00,0.00,0.00,0.000,0.000,0.000,0.000,...,0.000,0.000000,856.000,22.707046,852.000,0.000000,852.000,0.000000,852.000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669,22.062762,0,1144.125,1149.50,1121.25,1093.00,1064.750,1036.500,1008.250,980.000,...,259.625,21.829694,256.250,22.208768,252.875,22.400062,249.500,21.498194,246.125,22.050611
3670,21.409956,0,1156.750,1121.25,1093.00,1064.75,1036.500,1008.250,980.000,992.625,...,256.250,22.208768,252.875,22.400062,249.500,21.498194,246.125,22.050611,242.750,22.062762
3671,13.623924,0,1169.375,1093.00,1064.75,1036.50,1008.250,980.000,992.625,1005.250,...,252.875,22.400062,249.500,21.498194,246.125,22.050611,242.750,22.062762,239.375,21.409956
3672,15.243072,0,1182.000,1064.75,1036.50,1008.25,980.000,992.625,1005.250,1017.875,...,249.500,21.498194,246.125,22.050611,242.750,22.062762,239.375,21.409956,236.000,13.623924
3673,15.245651,0,1183.000,1036.50,1008.25,980.00,992.625,1005.250,1017.875,1030.500,...,246.125,22.050611,242.750,22.062762,239.375,21.409956,236.000,13.623924,244.000,15.243072

### Duplictaion de la valeur de bounce dans les times series le contenant

In [97]:
# rajouter une valeur bounce =1 pour toutes les times series en contenant 1
print(len(df[df.bounce==1]))

68

In [98]:
df[df.bounce==1]

,V,bounce,lagX_,lagX_20,lagX_19,lagX_18,lagX_17,lagX_16,lagX_15,lagX_14,...,lagY_5,lagV_5,lagY_4,lagV_4,lagY_3,lagV_3,lagY_2,lagV_2,lagY_1,lagV_1
68,120.510009,1,1186.000000,821.000000,821.000000,820.000000,818.00,818.000000,816.000000,815.0,...,435.750000,118.582784,424.000000,91.090876,418.500000,91.543064,413.000000,0.000000,413.000000,77.063978
105,39.435687,1,787.000000,1187.000000,1166.000000,1142.000000,1116.50,1091.000000,1067.000000,1067.0,...,553.000000,123.315192,588.000000,136.179939,627.000000,0.000000,627.000000,125.709204,663.000000,137.411470
141,55.917450,1,812.000000,628.000000,646.000000,662.000000,678.00,694.000000,710.000000,710.0,...,311.000000,25.250186,308.000000,24.085826,307.000000,4.156416,308.000000,23.269145,307.000000,12.198415
278,60.535016,1,842.000000,1070.000000,1068.000000,1064.000000,1060.00,1057.000000,1053.000000,1051.0,...,425.000000,65.011457,418.000000,55.762901,415.000000,52.180006,416.000000,50.871768,414.000000,52.922669
317,44.681121,1,941.666667,810.666667,817.333333,824.000000,830.00,837.000000,842.000000,846.0,...,662.000000,45.622461,675.500000,46.737918,689.000000,43.980629,702.500000,45.271863,716.000000,46.208599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3481,7.805382,1,1112.000000,728.000000,752.083333,776.166667,800.25,824.333333,848.416667,872.5,...,355.000000,2.394873,356.000000,18.356010,353.000000,24.021981,350.000000,17.444404,348.000000,20.201312
3518,0.000000,1,782.000000,1063.000000,1046.000000,1029.000000,1029.00,1014.000000,997.000000,981.0,...,562.000000,61.416208,593.000000,62.436736,626.000000,61.368355,660.000000,61.942377,692.000000,62.116428
3562,4.460934,1,770.818182,723.000000,728.000000,733.000000,739.00,743.500000,748.000000,751.0,...,406.727273,3.342827,404.272727,4.764749,401.818182,4.535281,399.363636,4.597725,396.909091,3.272215
3601,32.327078,1,1212.000000,859.428571,867.214286,875.000000,897.00,897.000000,918.000000,941.0,...,577.000000,0.000000,577.000000,74.536299,612.000000,51.938478,647.000000,69.505982,678.000000,69.461573
3637,13.471996,1,1245.857143,1433.666667,1414.000000,1399.000000,1384.00,1384.000000,1369.250000,1354.5,...,353.000000,0.000000,353.000000,15.187472,353.000000,13.442360,343.714286,18.595832,334.428571,18.607153

In [99]:
id_bounces = df.index[df.bounce==1]
id_bounces

Int64Index([  68,  105,  141,  278,  317,  357,  405,  450,  516,  578,  616,
             660,  692,  754,  845,  912,  986, 1101, 1157, 1320, 1461, 1619,
            1672, 1713, 1750, 1784, 1822, 1888, 1989, 2020, 2044, 2106, 2156,
            2192, 2224, 2266, 2337, 2409, 2440, 2516, 2561, 2590, 2639, 2670,
            2723, 2757, 2797, 2845, 2884, 2925, 2964, 3004, 3042, 3077, 3126,
            3157, 3201, 3240, 3278, 3323, 3365, 3400, 3448, 3481, 3518, 3562,
            3601, 3637],
           dtype='int64')

In [100]:
df[df.index == 68]

,V,bounce,lagX_,lagX_20,lagX_19,lagX_18,lagX_17,lagX_16,lagX_15,lagX_14,...,lagY_5,lagV_5,lagY_4,lagV_4,lagY_3,lagV_3,lagY_2,lagV_2,lagY_1,lagV_1
68,120.510009,1,1186.0,821.0,821.0,820.0,818.0,818.0,816.0,815.0,...,435.75,118.582784,424.0,91.090876,418.5,91.543064,413.0,0.0,413.0,77.063978

In [101]:
df.iloc[68+0:68+20]

,V,bounce,lagX_,lagX_20,lagX_19,lagX_18,lagX_17,lagX_16,lagX_15,lagX_14,...,lagY_5,lagV_5,lagY_4,lagV_4,lagY_3,lagV_3,lagY_2,lagV_2,lagY_1,lagV_1
68,120.510009,1,1186.000000,821.0,821.0,820.000000,818.000000,818.000000,816.000000,815.000000,...,435.750000,118.582784,424.000000,91.090876,418.500000,91.543064,413.000000,0.000000,413.000000,77.063978
69,121.131916,0,1212.000000,821.0,820.0,818.000000,818.000000,816.000000,815.000000,815.000000,...,424.000000,91.090876,418.500000,91.543064,413.000000,0.000000,413.000000,77.063978,412.000000,120.510009
70,118.245751,0,1230.333333,820.0,818.0,818.000000,816.000000,815.000000,815.000000,813.000000,...,418.500000,91.543064,413.000000,0.000000,413.000000,77.063978,412.000000,120.510009,376.333333,121.131916
71,67.419392,0,1248.666667,818.0,818.0,816.000000,815.000000,815.000000,813.000000,852.000000,...,413.000000,0.000000,413.000000,77.063978,412.000000,120.510009,376.333333,121.131916,340.666667,118.245751
72,68.893843,0,1267.000000,818.0,816.0,815.000000,815.000000,813.000000,852.000000,891.000000,...,413.000000,77.063978,412.000000,120.510009,376.333333,121.131916,340.666667,118.245751,305.000000,67.419392
73,68.696116,0,1278.500000,816.0,815.0,815.000000,813.000000,852.000000,891.000000,930.000000,...,412.000000,120.510009,376.333333,121.131916,340.666667,118.245751,305.000000,67.419392,285.500000,68.893843
74,67.727641,0,1290.000000,815.0,815.0,813.000000,852.000000,891.000000,930.000000,969.000000,...,376.333333,121.131916,340.666667,118.245751,305.000000,67.419392,285.500000,68.893843,266.000000,68.696116
75,67.108548,0,1301.500000,815.0,813.0,852.000000,891.000000,930.000000,969.000000,1008.000000,...,340.666667,118.245751,305.000000,67.419392,285.500000,68.893843,266.000000,68.696116,246.500000,67.727641
76,45.940207,0,1313.000000,813.0,852.0,891.000000,930.000000,969.000000,1008.000000,1047.000000,...,305.000000,67.419392,285.500000,68.893843,266.000000,68.696116,246.500000,67.727641,227.000000,67.108548
77,46.685399,0,1327.000000,852.0,891.0,930.000000,969.000000,1008.000000,1047.000000,1086.000000,...,285.500000,68.893843,266.000000,68.696116,246.500000,67.727641,227.000000,67.108548,209.000000,45.940207
78,46.323536,0,1312.000000,891.0,930.0,969.000000,1008.000000,1047.000000,1086.000000,1125.000000,...,266.000000,68.696116,246.500000,67.727641,227.000000,67.108548,209.000000,45.940207,212.333333,46.685399
79,46.268830,0,1297.000000,930.0,969.0,1008.000000,1047.000000,1086.000000,1125.000000,1155.500000,...,246.500000,67.727641,227.000000,67.108548,209.000000,45.940207,212.333333,46.685399,215.666667,46.323536
80,45.570419,0,1282.000000,969.0,1008.0,1047.000000,1086.000000,1125.000000,1155.500000,1186.000000,...,227.000000,67.108548,209.000000,45.940207,212.333333,46.685399,215.666667,46.323536,219.000000,46.268830
81,45.399962,0,1267.000000,1008.0,1047.0,1086.000000,1125.000000,1155.500000,1186.000000,1186.000000,...,209.000000,45.940207,212.333333,46.685399,215.666667,46.323536,219.000000,46.268830,222.333333,45.570419
82,82.832901,0,1252.000000,1047.0,1086.0,1125.000000,1155.500000,1186.000000,1186.000000,1212.000000,...,212.333333,46.685399,215.666667,46.323536,219.000000,46.268830,222.333333,45.570419,225.666667,45.399962
83,76.537153,0,1237.000000,1086.0,1125.0,1155.500000,1186.000000,1186.000000,1212.000000,1230.333333,...,215.666667,46.323536,219.000000,46.268830,222.333333,45.570419,225.666667,45.399962,229.000000,82.832901
84,0.000000,0,1210.000000,1125.0,1155.5,1186.000000,1186.000000,1212.000000,1230.333333,1248.666667,...,219.000000,46.268830,222.333333,45.570419,225.666667,45.399962,229.000000,82.832901,238.000000,76.537153
85,73.123306,0,1187.000000,1155.5,1186.0,1186.000000,1212.000000,1230.333333,1248.666667,1267.000000,...,222.333333,45.570419,225.666667,45.399962,229.000000,82.832901,238.000000,76.537153,250.000000,0.000000
86,85.989979,0,1187.000000,1186.0,1186.0,1212.000000,1230.333333,1248.666667,1267.000000,1278.500000,...,225.666667,45.399962,229.000000,82.832901,238.000000,76.537153,250.000000,0.000000,250.000000,73.123306
87,95.730323,0,1166.000000,1186.0,1212.0,1230.333333,1248.666667,1267.000000,1278.500000,1290.000000,...,229.000000,82.832901,238.000000,76.537153,250.000000,0.000000,250.000000,73.123306,263.000000,85.989979

In [102]:
for i in id_bounces:
    df.bounce.iloc[i+1:i+20]=1

/tmp/ipykernel_532/851913688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.bounce.iloc[i+1:i+20]=1

In [103]:
for i in id_bounces:
    print(df[df.index == i])

             V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
68  120.510009       1  1186.0    821.0    821.0    820.0    818.0    818.0

    lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4     lagV_4  lagY_3  \
68    816.0    815.0  ...  435.75  118.582784   424.0  91.090876   418.5

       lagV_3  lagY_2  lagV_2  lagY_1     lagV_1
68  91.543064   413.0     0.0   413.0  77.063978

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
105  39.435687       1  787.0   1187.0   1166.0   1142.0   1116.5   1091.0

     lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4      lagV_4  lagY_3  \
105   1067.0   1067.0  ...   553.0  123.315192   588.0  136.179939   627.0

     lagV_3  lagY_2      lagV_2  lagY_1     lagV_1
105     0.0   627.0  125.709204   663.0  137.41147

[1 rows x 63 columns]
            V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
141  55.91745       1  812.0    628.0    646.0    662.0    678.0    694.0

     lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
141    710.0    710.0  ...   311.0  25.250186   308.0  24.085826   307.0

       lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
141  4.156416   308.0  23.269145   307.0  12.198415

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
278  60.535016       1  842.0   1070.0   1068.0   1064.0   1060.0   1057.0

     lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
278   1053.0   1051.0  ...   425.0  65.011457   418.0  55.762901   415.0

        lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
278  52.180006   416.0  50.871768   414.0  52.922669

[1 rows x 63 columns]
             V  bounce       lagX_     lagX_20     lagX_19  lagX_18  lagX_17  \
317  44.681121       1  941.666667  810.666667  817.333333    824.0    830.0

     lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  \
317    837.0    842.0    846.0  ...   662.0  45.622461   675.5  46.737918

     lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
317   689.0  43.980629   702.5  45.271863   716.0  46.208599

[1 rows x 63 columns]
            V  bounce  lagX_  lagX_20  lagX_19  lagX_18     lagX_17  \
357  6.275263       1  787.0    868.0    860.0    855.0  849.666667

        lagX_16  lagX_15  lagX_14  ...  lagY_5    lagV_5  lagY_4    lagV_4  \
357  844.333333    839.0    834.0  ...   426.0  30.94377   436.0  6.226653

     lagY_3    lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
357   435.5  6.267194   435.0  6.208301   434.5  6.236583

[1 rows x 63 columns]
             V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
405  42.905789       1  1233.0    916.0    932.0    948.0    966.0    979.0

     lagX_15  lagX_14  ...      lagY_5      lagV_5      lagY_4      lagV_4  \
405    997.0   1014.0  ...  653.333333  216.533333  585.666667  208.870945

     lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
405   518.0  74.038278   538.0  86.764726   559.0  44.058572

[1 rows x 63 columns]
            V  bounce       lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
450  2.778631       1  959.666667   1310.0   1299.0   1288.0   1276.0

     lagX_16  lagX_15  lagX_14  ...  lagY_5      lagV_5      lagY_4  \
450   1264.0   1256.0   1247.0  ...   286.0  603.365292  475.333333

         lagV_4      lagY_3      lagV_3  lagY_2    lagV_2      lagY_1  \
450  594.373789  664.666667  608.205947   854.0  2.822086  854.666667

       lagV_1
450  2.809706

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
516  132.810089       1  892.0   1124.0   1123.0   1123.0   1121.0   1119.0

     lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4      lagV_4  lagY_3  \
516   1116.0   1114.0  ...   678.4  257.582546   591.6  257.830255   504.8

         lagV_3  lagY_2     lagV_2  lagY_1  lagV_1
516  258.595028   418.0  44.758993   410.0     0.0

[1 rows x 63 columns]
             V  bounce        lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
578  36.555868       1  1395.666667   1149.0   1166.0   1181.0   1197.0

     lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  \
578   1212.0   1224.2   1236.4  ...   690.5  67.502006   710.0  68.133935

     lagY_3    lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
578   729.5  69.00412   749.0  67.392029   768.5  67.405715

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
616  39.450852       1  790.0   1388.5  1330.75   1273.0   1235.0   1197.0

     lagX_15  lagX_14  ...  lagY_5  lagV_5  lagY_4     lagV_4  lagY_3  \
616   1159.0   1121.0  ...   370.0     0.0   370.0  54.378525   370.0

        lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
616  64.578423   370.0  60.182957   372.0  63.420001

[1 rows x 63 columns]
             V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
660  35.666718       1  1349.0    727.0    757.0    757.0    788.0    820.5

     lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4      lagV_4  lagY_3  \
660    853.0    883.0  ...   595.0  153.836535   632.0  345.014822   732.0

         lagV_3  lagY_2      lagV_2  lagY_1    lagV_1
660  349.571222   832.0  350.939191   932.0  8.808584

[1 rows x 63 columns]
            V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
692  15.07336       1  1251.8   1405.0   1390.0   1374.0   1363.6   1353.2

     lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
692   1342.8   1332.4  ...   316.0  25.291216   310.0  17.459891   307.0

     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
692     0.0   307.0  14.624228   304.4  14.988402

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
754  30.595409       1  895.0    985.0    985.0    985.0    985.0    985.0

     lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  lagY_3  \
754    985.0    985.0  ...   555.0  57.371319   574.0     0.0   574.0

         lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
754  122.592897   613.0  95.590266   644.0  30.705424

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
845  30.050547       1  945.0    924.0    922.0    926.0    928.0    926.0

     lagX_15  lagX_14  ...  lagY_5  lagV_5  lagY_4    lagV_4  lagY_3  \
845    930.0    930.0  ...   319.0     0.0   319.0  8.657171   322.0

       lagV_3  lagY_2    lagV_2  lagY_1     lagV_1
845  3.215871   323.0  6.654767   324.0  23.801941

[1 rows x 63 columns]
       V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  lagX_15  \
912  0.0       1  727.0    812.0   807.25    802.5   797.75    793.0   788.25

     lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3     lagV_3  \
912    783.5  ...   624.0  88.553604   652.0  51.368079   674.0  70.513167

     lagY_2    lagV_2  lagY_1     lagV_1
912   698.0  59.71474   718.0  51.598516

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
986  32.143151       1  687.0    678.0    678.0    679.0    682.0    682.0

     lagX_15  lagX_14  ...  lagY_5    lagV_5  lagY_4    lagV_4  lagY_3  \
986    682.0    683.0  ...   356.0  9.342084   353.0  2.990996   353.0

       lagV_3  lagY_2  lagV_2  lagY_1    lagV_1
986  3.209197   352.0     0.0   352.0  6.683157

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1101  16.164169       1  1232.0   1119.0   1128.0   1136.0  1142.25   1148.5

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
1101  1154.75   1161.0  ...   718.0  12.223272   719.0  17.388527   719.0

        lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
1101  4.203937   718.0  14.773805   718.0  18.049312

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1157  44.809504       1  1204.0   1242.0   1239.0   1237.0   1234.0   1234.0

      lagX_15  lagX_14  ...  lagY_5  lagV_5  lagY_4    lagV_4  lagY_3  \
1157   1231.0   1230.0  ...   350.0     0.0   350.0  6.759269   351.0

        lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
1157  4.244503   350.0  8.452341   352.0  8.515879

[1 rows x 63 columns]
        V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1320  0.0       1  813.0    860.0    863.0    859.0    859.0    855.0

      lagX_15  lagX_14  ...  lagY_5    lagV_5  lagY_4     lagV_4  lagY_3  \
1320    851.0    849.0  ...   416.0  14.70304   419.0  10.177626   421.0

        lagV_3  lagY_2    lagV_2  lagY_1     lagV_1
1320  9.450247   424.0  9.350052   425.0  13.027723

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1461  20.828242       1  973.0    967.0    967.0    966.0    966.0    968.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
1461    969.0    969.0  ...   409.0  15.043313   414.0  12.336117   418.0

      lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
1461     0.0   418.0  17.989016   424.0  18.120044

[1 rows x 63 columns]
              V  bounce    lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1619  37.607429       1  1063.25    846.0    848.0    852.0    855.0    855.0

      lagX_15  lagX_14  ...      lagY_5      lagV_5      lagY_4     lagV_4  \
1619    857.0    861.0  ...  451.916667  100.772799  480.333333  77.472602

      lagY_3      lagV_3      lagY_2      lagV_2      lagY_1      lagV_1
1619  508.75  101.089439  537.166667  101.809131  565.583333  100.698278

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19     lagX_18     lagX_17  \
1672  21.254203       1  1078.0    738.0    775.0  722.666667  670.333333

      lagX_16  lagX_15     lagX_14  ...  lagY_5    lagV_5  lagY_4  lagV_4  \
1672    618.0    618.0  721.666667  ...   368.0  23.73401   367.0     0.0

      lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
1672   367.0  25.920377   367.0  15.206253   368.0  23.956411

[1 rows x 63 columns]

              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1713  71.241739       1  618.0   1097.0   1072.0   1047.0   1022.0    998.0

         lagX_15     lagX_14  ...  lagY_5      lagV_5  lagY_4      lagV_4  \
1713  978.222222  958.444444  ...   635.0  107.519528   711.0  147.041537

      lagY_3      lagV_3  lagY_2      lagV_2  lagY_1     lagV_1
1713   787.0  152.478504   863.0  145.543219   939.0  51.856546

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1750  24.443662       1  1075.0    656.0    766.0    876.0    896.0    916.0

      lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4    lagV_4  lagY_3  \
1750    917.0    933.0  ...   626.0  448.996257   316.0  1.773694   317.0

         lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
1750  14.086139   319.0  19.679216   322.0  17.659054

[1 rows x 63 columns]
              V  bounce       lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
1784  22.736661       1  759.666667   1112.0   1112.0   1092.0   1070.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  \
1784   1047.0   1024.0   1001.0  ...   547.0  79.803311   588.0  70.394998

      lagY_3     lagV_3      lagY_2     lagV_2      lagY_1     lagV_1
1784   633.0  40.661204  661.333333  39.082611  689.666667  28.983936

[1 rows x 63 columns]
              V  bounce       lagX_     lagX_20     lagX_19    lagX_18  \
1822  27.163204       1  665.034483  608.689655  611.655172  614.62069

         lagX_17     lagX_16     lagX_15     lagX_14  ...      lagY_5  \
1822  617.586207  620.551724  623.517241  626.482759  ...  443.137931

         lagV_5      lagY_4     lagV_4      lagY_3    lagV_3      lagY_2  \
1822  20.448591  427.310345  29.172978  411.482759  28.72906  395.655172

        lagV_2      lagY_1     lagV_1
1822  29.08812  379.827586  28.996247

[1 rows x 63 columns]
              V  bounce   lagX_     lagX_20     lagX_19  lagX_18  lagX_17  \
1888  14.213321       1  1226.0  980.333333  994.666667   1009.0   1023.0

      lagX_16  lagX_15  lagX_14  ...      lagY_5     lagV_5      lagY_4  \
1888   1036.4   1049.8   1063.2  ...  646.090909  15.547714  651.636364

         lagV_4      lagY_3     lagV_3      lagY_2    lagV_2      lagY_1  \
1888  15.822826  657.181818  21.646592  662.727273  21.86503  668.272727

         lagV_1
1888  13.978648

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
1989  20.249187       1  671.0    882.0    870.0    858.0    846.0    834.0

      lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4    lagV_4  lagY_3  \
1989    821.0    821.0  ...   810.5  150.204396   740.0  70.08221   778.0

      lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
1989     0.0   778.0  69.860411   815.0  62.178052

[1 rows x 63 columns]
             V  bounce       lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
2020  26.42632       1  920.333333    582.0    573.0    563.0    582.5

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  \
2020    602.0    602.0    635.0  ...   352.0  58.201856   326.0     0.0

      lagY_3     lagV_3      lagY_2    lagV_2      lagY_1    lagV_1
2020   326.0  48.079832  308.333333  34.97291  290.666667  46.87919

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2044  46.022056       1  1185.0    993.0   1009.0   1025.0   1040.0   1052.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  lagY_3  \
2044   1052.0   1066.0  ...   307.0  29.142999   320.0     0.0   320.0

        lagV_3  lagY_2     lagV_2  lagY_1   lagV_1
2044  32.09466   334.0  33.581038   351.0  24.9471

[1 rows x 63 columns]
              V  bounce  lagX_      lagX_20  lagX_19  lagX_18  lagX_17  \
2106  33.381643       1  641.0  1045.633333   1055.0   1027.0   1027.0

      lagX_16  lagX_15  lagX_14  ...   lagY_5     lagV_5  lagY_4     lagV_4  \
2106   1000.0    975.0    943.0  ...  483.125  64.247026  510.75  65.658689

       lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2106  538.375  62.746148   566.0  65.669079   611.0  34.058839

[1 rows x 63 columns]
              V  bounce   lagX_     lagX_20     lagX_19     lagX_18  \
2156  36.893734       1  1067.0  557.615385  604.692308  651.769231

         lagX_17     lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  \
2156  698.846154  745.923077    793.0    827.0  ...   314.0  26.352429

      lagY_4     lagV_4  lagY_3     lagV_3  lagY_2    lagV_2  lagY_1  \
2156   316.0  26.533166   317.0  27.945629   321.0  4.006737   320.0

         lagV_1
2156  28.309974

[1 rows x 63 columns]
        V  bounce   lagX_     lagX_20     lagX_19  lagX_18  lagX_17  lagX_16  \
2192  0.0       1  1166.0  750.333333  952.666667   1155.0   1158.0   1158.0

      lagX_15  lagX_14  ...  lagY_5    lagV_5  lagY_4     lagV_4  lagY_3  \
2192   1158.5   1159.0  ...   701.0  78.13239   746.0  86.554914   797.0

         lagV_3  lagY_2  lagV_2  lagY_1    lagV_1
2192  87.455167   848.0     0.0   848.0  5.577834

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2224  13.094038       1  894.0   1058.0   1042.0   1031.2   1020.4   1009.6

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4    lagV_4  lagY_3  \
2224    998.8    988.0  ...   374.0  13.453156   374.0  3.876556   375.0

        lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2224  11.29859   375.0  10.907662   377.0  13.350877

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2266  10.523609       1  710.0    812.0    805.0    797.0   791.75    786.5

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  lagY_3  \
2266   781.25    776.0  ...   541.0  61.669067   577.0     0.0   577.0

         lagV_3  lagY_2     lagV_2  lagY_1    lagV_1
2266  67.385241   616.0  49.253417   655.0  10.48061

[1 rows x 63 columns]
               V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2337  183.082897       1  1006.0    718.0    718.0    718.0    717.0    716.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4      lagV_4  lagY_3  \
2337    933.0   1150.0  ...   405.0  18.979133   419.0  133.124357   499.5

          lagV_3  lagY_2      lagV_2  lagY_1      lagV_1
2337  131.983655   580.0  181.086088   660.5  181.778795

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2409  14.647383       1  1251.0   1296.0   1293.0   1289.0   1287.0   1285.0

      lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4      lagV_4  lagY_3  \
2409   1281.0   1278.0  ...   704.0  126.912584   645.5  125.555715   587.0

      lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
2409     0.0   587.0  24.91356   613.0  8.335997

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2440  25.439431       1  767.5   1306.0  1274.25   1242.5  1210.75   1179.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  lagY_3  \
2440  1147.25   1115.5  ...   347.0  43.850768   347.0     0.0   347.0

         lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2440  41.599827   349.0  39.715192   352.0  28.372023

[1 rows x 63 columns]
        V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2516  0.0       1  1002.0    880.0    879.0    878.0    877.0    876.0

      lagX_15     lagX_14  ...  lagY_5     lagV_5  lagY_4      lagV_4  lagY_3  \
2516    875.0  882.571429  ...   814.0  357.30352   620.5  338.240425   427.0

         lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
2516  18.222429   422.0  8.069393   420.0  5.244182

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2561  11.878998       1  1034.5   1033.5  1034.75   1036.0   1036.0   1036.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
2561   1037.0   1039.0  ...   578.0  65.363537   615.0  62.715028   650.0

      lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2561     0.0   650.0  51.180308   678.5  36.618629

[1 rows x 63 columns]
              V  bounce  lagX_      lagX_20  lagX_19      lagX_18  \
2590  13.587278       1  840.0  1025.333333   1018.5  1011.666667

          lagX_17  lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  \
2590  1004.833333    998.0    983.2    968.4  ...   368.0  15.884459   359.0

         lagV_4  lagY_3     lagV_3  lagY_2  lagV_2  lagY_1     lagV_1
2590  13.771701   353.0  13.842449   351.0     0.0   351.0  10.079734

[1 rows x 63 columns]
             V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2639  9.331196       1  819.4    812.0    815.0    815.0    815.0    816.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
2639    817.0    817.0  ...   629.0  49.259816   657.0  35.804529   685.0

         lagV_3  lagY_2     lagV_2  lagY_1    lagV_1
2639  49.820719   713.0  50.041581   741.0  35.18653

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20     lagX_19     lagX_18  lagX_17  \
2670  162.00146       1  1055.8    819.0  846.666667  874.333333    902.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  \
2670    926.0    926.0    953.0  ...   419.0  60.853401   387.4  59.662849

      lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2670   355.8  58.350036   324.2  60.579987   292.6  59.067593

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
2723  34.780717       1  767.0   1118.0   1098.0   1078.0   1058.0   1040.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
2723   1020.0   1021.0  ...   599.0  70.075342   634.0  53.906659  658.25

         lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2723  37.760371   682.5  51.836057  706.75  37.769784

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
2757  24.347256       1  1090.0    715.0    756.0    756.0    788.0

         lagX_16     lagX_15     lagX_14  ...      lagY_5     lagV_5  \
2757  807.428571  826.857143  846.285714  ...  412.428571  40.875293

          lagY_4     lagV_4  lagY_3     lagV_3  lagY_2     lagV_2  lagY_1  \
2757  400.214286  39.893082   388.0  26.292016   388.0  18.663475   389.0

        lagV_1
2757  2.730774

[1 rows x 63 columns]
              V  bounce  lagX_      lagX_20      lagX_19      lagX_18  \
2797  16.423021       1  846.0  1012.642857  1031.428571  1050.214286

      lagX_17  lagX_16  lagX_15  lagX_14  ...  lagY_5   lagV_5  lagY_4  \
2797   1069.0   1069.0   1052.0   1037.0  ...   557.0  2.42337   558.0

         lagV_4  lagY_3    lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2797  66.679572   592.0  61.69641   624.0  59.605579   654.0  23.352279

[1 rows x 63 columns]
              V  bounce        lagX_     lagX_20     lagX_19     lagX_18  \
2845  16.155366       1  1129.363636  919.714286  934.428571  949.142857

         lagX_17     lagX_16     lagX_15  lagX_14  ...  lagY_5     lagV_5  \
2845  963.857143  978.571429  993.285714   1008.0  ...   409.0  17.064677

      lagY_4     lagV_4  lagY_3     lagV_3  lagY_2     lagV_2  lagY_1  \
2845   406.0  16.153622   403.0  16.766939   400.0  16.540433   397.0

        lagV_1
2845  16.19665

[1 rows x 63 columns]

              V  bounce  lagX_      lagX_20      lagX_19  lagX_18  lagX_17  \
2884  20.156081       1  860.0  1122.153846  1118.076923   1114.0   1099.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  \
2884   1083.0   1069.0   1055.5  ...   563.0  44.172705   593.0  48.158873

      lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
2884   626.0  44.390078   648.0  31.251957   670.0  42.798636

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
2925  15.339103       1  1113.0    852.0    871.0    890.0    909.0

         lagX_16     lagX_15  lagX_14  ...  lagY_5      lagV_5  lagY_4  \
2925  927.333333  945.666667    964.0  ...   411.2  173.298376   291.0

         lagV_4  lagY_3     lagV_3  lagY_2     lagV_2  lagY_1    lagV_1
2925  39.927642   314.5  39.406332   338.0  20.641383   340.0  2.488815

[1 rows x 63 columns]
              V  bounce       lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
2964  41.848032       1  684.090909   1006.0    991.0    976.0    957.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  \
2964    939.0    939.0    918.0  ...   610.0  67.382692   642.0     0.0

      lagY_3     lagV_3      lagY_2     lagV_2      lagY_1     lagV_1
2964   642.0  41.692792  657.181818  41.810204  672.363636  30.176907

[1 rows x 63 columns]
             V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
3004  20.59008       1  1115.0    787.5   816.25    845.0   869.25    893.5

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4    lagV_4  lagY_3  \
3004   917.75    942.0  ...   340.5  19.080864   338.0  25.99743   341.0

        lagV_3  lagY_2  lagV_2  lagY_1     lagV_1
3004  27.22643   342.0     0.0   342.0  23.326764

[1 rows x 63 columns]
              V  bounce  lagX_     lagX_20     lagX_19      lagX_18  lagX_17  \
3042  20.532339       1  856.0  940.857143  982.571429  1024.285714   1066.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  \
3042   1053.0   1053.0   1036.0  ...   596.0  63.370706   630.0     0.0

      lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
3042   630.0  65.176462   664.0  84.333398   707.0  27.793649

[1 rows x 63 columns]
        V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
3077  0.0       1  699.0    710.2    708.6    707.0    706.0    705.0

      lagX_15  lagX_14  ...  lagY_5    lagV_5  lagY_4    lagV_4  lagY_3  \
3077    705.0    703.0  ...   414.4  5.879772   409.8  5.793434   405.2

        lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
3077  8.171853   400.6  7.920021   396.0  1.782234

[1 rows x 63 columns]
              V  bounce       lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
3126  43.254824       1  959.666667    768.6    776.0    787.0    798.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5  lagV_5      lagY_4     lagV_4  \
3126    807.0    807.0    818.5  ...   655.0  44.235  677.833333  44.544943

          lagY_3    lagV_3  lagY_2     lagV_2      lagY_1     lagV_1
3126  700.666667  44.01808   723.5  44.534573  746.333333  31.327223

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19      lagX_18      lagX_17  \
3157  25.656346       1  1053.0   1034.0   1034.0  1035.833333  1037.666667

      lagX_16      lagX_15      lagX_14  ...  lagY_5  lagV_5  lagY_4  \
3157   1039.5  1041.333333  1043.166667  ...   381.0     0.0   381.0

        lagV_4  lagY_3    lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
3157  2.425051   382.0  3.859328   383.0  6.327721   386.0  2.811818

[1 rows x 63 columns]
              V  bounce  lagX_      lagX_20      lagX_19     lagX_18  \
3201  11.512224       1  834.0  1012.428571  1003.571429  994.714286

         lagX_17  lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  \
3201  985.857143    977.0    968.0    957.0  ...   583.0  58.000437   616.0

        lagV_4  lagY_3     lagV_3  lagY_2     lagV_2  lagY_1  lagV_1
3201  72.43156   656.0  71.023955   696.0  17.916846   701.0     0.0

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20     lagX_19     lagX_18  lagX_17  \
3240  24.805839       1  1154.0    894.0  911.833333  929.666667    947.5

         lagX_16     lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4  lagV_4  \
3240  965.333333  983.166667   1001.0  ...   351.0  20.949155   352.0     0.0

      lagY_3     lagV_3  lagY_2     lagV_2  lagY_1    lagV_1
3240   352.0  13.521119   352.0  22.602563   355.0  9.023131

[1 rows x 63 columns]
        V  bounce  lagX_      lagX_20      lagX_19  lagX_18  lagX_17  lagX_16  \
3278  0.0       1  762.0  1086.666667  1067.333333   1048.0   1048.0   1032.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
3278   1012.0    994.0  ...   590.0  52.030146   626.0  65.288732   660.0

         lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
3278  57.201666   699.5  79.061121   739.0  25.142932

[1 rows x 63 columns]
              V  bounce   lagX_     lagX_20     lagX_19     lagX_18  lagX_17  \
3323  25.654161       1  1177.0  953.571429  971.714286  989.857143   1008.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  \
3323   1023.0   1039.0   1039.0  ...   385.0  21.052126   383.0  15.491703

      lagY_3    lagV_3  lagY_2    lagV_2  lagY_1    lagV_1
3323   382.0  1.758171   381.0  19.19309   384.0  17.02877

[1 rows x 63 columns]
              V  bounce    lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
3365  25.073335       1  722.875   1102.0   1081.0   1060.0   1039.0   1019.6

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
3365   1000.2    980.8  ...   637.0  77.938428   673.5  78.658377   710.0

      lagV_3  lagY_2     lagV_2   lagY_1     lagV_1
3365     0.0   710.0  24.530035  720.375  34.555966

[1 rows x 63 columns]
              V  bounce   lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
3400  24.447048       1  1191.0    772.0    797.0    822.0    847.0    872.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
3400    897.0    922.0  ...   379.0  30.723139   376.0  27.238456   376.0

         lagV_3  lagY_2    lagV_2  lagY_1     lagV_1
3400  26.656227   376.0  1.674743   375.0  29.703281

[1 rows x 63 columns]
              V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17   lagX_16  \
3448  24.642275       1  739.0   1078.0   1078.0   1058.0   1039.0  1019.375

      lagX_15  lagX_14  ...  lagY_5     lagV_5      lagY_4     lagV_4  \
3448   999.75  980.125  ...   643.0  74.186461  679.333333  75.199816

          lagY_3    lagV_3  lagY_2    lagV_2  lagY_1     lagV_1
3448  715.666667  76.00651   752.0  2.803814   754.0  25.371992

[1 rows x 63 columns]
             V  bounce   lagX_  lagX_20     lagX_19     lagX_18  lagX_17  \
3481  7.805382       1  1112.0    728.0  752.083333  776.166667   800.25

         lagX_16     lagX_15  lagX_14  ...  lagY_5    lagV_5  lagY_4  \
3481  824.333333  848.416667    872.5  ...   355.0  2.394873   356.0

        lagV_4  lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
3481  18.35601   353.0  24.021981   350.0  17.444404   348.0  20.201312

[1 rows x 63 columns]
        V  bounce  lagX_  lagX_20  lagX_19  lagX_18  lagX_17  lagX_16  \
3518  0.0       1  782.0   1063.0   1046.0   1029.0   1029.0   1014.0

      lagX_15  lagX_14  ...  lagY_5     lagV_5  lagY_4     lagV_4  lagY_3  \
3518    997.0    981.0  ...   562.0  61.416208   593.0  62.436736   626.0

         lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
3518  61.368355   660.0  61.942377   692.0  62.116428

[1 rows x 63 columns]
             V  bounce       lagX_  lagX_20  lagX_19  lagX_18  lagX_17  \
3562  4.460934       1  770.818182    723.0    728.0    733.0    739.0

      lagX_16  lagX_15  lagX_14  ...      lagY_5    lagV_5      lagY_4  \
3562    743.5    748.0    751.0  ...  406.727273  3.342827  404.272727

        lagV_4      lagY_3    lagV_3      lagY_2    lagV_2      lagY_1  \
3562  4.764749  401.818182  4.535281  399.363636  4.597725  396.909091

        lagV_1
3562  3.272215

[1 rows x 63 columns]
              V  bounce   lagX_     lagX_20     lagX_19  lagX_18  lagX_17  \
3601  32.327078       1  1212.0  859.428571  867.214286    875.0    897.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5  lagV_5  lagY_4     lagV_4  \
3601    897.0    918.0    941.0  ...   577.0     0.0   577.0  74.536299

      lagY_3     lagV_3  lagY_2     lagV_2  lagY_1     lagV_1
3601   612.0  51.938478   647.0  69.505982   678.0  69.461573

[1 rows x 63 columns]
              V  bounce        lagX_      lagX_20  lagX_19  lagX_18  lagX_17  \
3637  13.471996       1  1245.857143  1433.666667   1414.0   1399.0   1384.0

      lagX_16  lagX_15  lagX_14  ...  lagY_5  lagV_5  lagY_4     lagV_4  \
3637   1384.0  1369.25   1354.5  ...   353.0     0.0   353.0  15.187472

      lagY_3    lagV_3      lagY_2     lagV_2      lagY_1     lagV_1
3637   353.0  13.44236  343.714286  18.595832  334.428571  18.607153

[1 rows x 63 columns]

In [104]:
72*20

1440

In [105]:
print(len(df[df.bounce==1]))
df.bounce.value_counts()

1360

0    2314
1    1360
Name: bounce, dtype: int64

In [106]:
df.index[df.bounce==1]

Int64Index([  68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
            ...
            3647, 3648, 3649, 3650, 3651, 3652, 3653, 3654, 3655, 3656],
           dtype='int64', length=1360)

### mise en forme du df X, Y, V

In [107]:
Xs = df[['lagX_20', 'lagX_19', 'lagX_18', 'lagX_17', 'lagX_16',
       'lagX_15', 'lagX_14', 'lagX_13', 'lagX_12', 'lagX_11', 'lagX_10',
       'lagX_9', 'lagX_8', 'lagX_7', 'lagX_6', 'lagX_5', 'lagX_4', 'lagX_3',
       'lagX_2', 'lagX_1']]


Ys = df[['lagY_20', 'lagY_19', 'lagY_18', 'lagY_17',
       'lagY_16', 'lagY_15', 'lagY_14', 'lagY_13', 'lagY_12', 'lagY_11',
       'lagY_10', 'lagY_9', 'lagY_8', 'lagY_7', 'lagY_6', 'lagY_5', 'lagY_4',
       'lagY_3', 'lagY_2', 'lagY_1']]


Vs = df[['lagV_20', 'lagV_19', 'lagV_18',
       'lagV_17', 'lagV_16', 'lagV_15', 'lagV_14', 'lagV_13', 'lagV_12',
       'lagV_11', 'lagV_10', 'lagV_9', 'lagV_8', 'lagV_7', 'lagV_6', 'lagV_5',
       'lagV_4', 'lagV_3', 'lagV_2', 'lagV_1']]

Xs

,lagX_20,lagX_19,lagX_18,lagX_17,lagX_16,lagX_15,lagX_14,lagX_13,lagX_12,lagX_11,lagX_10,lagX_9,lagX_8,lagX_7,lagX_6,lagX_5,lagX_4,lagX_3,lagX_2,lagX_1
0,0.00,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,0.00,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,961.000
2,0.00,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,961.000,954.000
3,0.00,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,961.000,954.000,954.000
4,0.00,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,961.000,954.000,954.000,954.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669,1149.50,1121.25,1093.00,1064.750,1036.500,1008.250,980.000,992.625,1005.250,1017.875,1030.500,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125
3670,1121.25,1093.00,1064.75,1036.500,1008.250,980.000,992.625,1005.250,1017.875,1030.500,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,1156.750
3671,1093.00,1064.75,1036.50,1008.250,980.000,992.625,1005.250,1017.875,1030.500,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,1156.750,1169.375
3672,1064.75,1036.50,1008.25,980.000,992.625,1005.250,1017.875,1030.500,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,1156.750,1169.375,1182.000
3673,1036.50,1008.25,980.00,992.625,1005.250,1017.875,1030.500,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,1156.750,1169.375,1182.000,1183.000

In [108]:
Xs = from_2d_array_to_nested(Xs.to_numpy())
Ys = from_2d_array_to_nested(Ys.to_numpy())
Vs = from_2d_array_to_nested(Vs.to_numpy())
Xs

                                                      0
0     0     0.0
1     0.0
2     0.0
3     0.0
4     ...
1     0       0.0
1       0.0
2       0.0
3       0....
2     0       0.0
1       0.0
2       0.0
3       0....
3     0       0.0
1       0.0
2       0.0
3       0....
4     0       0.0
1       0.0
2       0.0
3       0....
...                                                 ...
3669  0     1149.500
1     1121.250
2     1093.000
3...
3670  0     1121.250
1     1093.000
2     1064.750
3...
3671  0     1093.000
1     1064.750
2     1036.500
3...
3672  0     1064.750
1     1036.500
2     1008.250
3...
3673  0     1036.500
1     1008.250
2      980.000
3...

[3674 rows x 1 columns]

In [109]:

X = pd.concat([Xs, Ys, Vs], 1)
#X = pd.concat([Xs, Ys], 1)
X.columns=["X", "Y", "V"]
X

/tmp/ipykernel_532/3812836620.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  X = pd.concat([Xs, Ys, Vs], 1)

,X,Y,V
0,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...
1,0 0.0 1 0.0 2 0.0 3 0....,0 0.0 1 0.0 2 0.0 3 0....,0 0.000000 1 0.000000 2 0.00000...
2,0 0.0 1 0.0 2 0.0 3 0....,0 0.0 1 0.0 2 0.0 3 0....,0 0.000000 1 0.000000 2 0.00000...
3,0 0.0 1 0.0 2 0.0 3 0....,0 0.0 1 0.0 2 0.0 3 0....,0 0.000000 1 0.000000 2 0.00000...
4,0 0.0 1 0.0 2 0.0 3 0....,0 0.0 1 0.0 2 0.0 3 0....,0 0.000000 1 0.000000 2 0.00000...
...,...,...,...
3669,0 1149.500 1 1121.250 2 1093.000 3...,0 241.250 1 249.375 2 257.500 3 ...,0 35.966580 1 36.641253 2 50.08611...
3670,0 1121.250 1 1093.000 2 1064.750 3...,0 249.375 1 257.500 2 265.625 3 ...,0 36.641253 1 50.086114 2 50.72476...
3671,0 1093.000 1 1064.750 2 1036.500 3...,0 257.500 1 265.625 2 273.750 3 ...,0 50.086114 1 50.724767 2 49.57958...
3672,0 1064.750 1 1036.500 2 1008.250 3...,0 265.625 1 273.750 2 281.875 3 ...,0 50.724767 1 49.579585 2 49.22922...
3673,0 1036.500 1 1008.250 2 980.000 3...,0 273.750 1 281.875 2 290.000 3 ...,0 49.579585 1 49.229226 2 21.90516...

In [110]:
y = df.bounce
y

0       0
1       0
2       0
3       0
4       0
       ..
3669    0
3670    0
3671    0
3672    0
3673    0
Name: bounce, Length: 3674, dtype: int64

In [111]:
from sktime.classification.interval_based import TimeSeriesForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

from sktime.classification.compose import ColumnEnsembleClassifier
from sktime.transformations.panel.compose import ColumnConcatenator
from sklearn.pipeline import Pipeline

from sktime.utils.data_processing import from_2d_array_to_nested

ModuleNotFoundError: No module named 'sktime.utils.data_processing'

### modéle

In [112]:
#Train test split :
X_train, X_test, y_train, y_test = train_test_split(X, y) # Multivariate

#Train test split : methode manuelle de Philippe: 
#nb_test = 800
#X_train = X.iloc[:-nb_test, :]
#y_train = y.iloc[:-nb_test]
#X_test = X.iloc[-nb_test:, :]
#y_test = y.iloc[-nb_test:]
#print(X_train.shape);print(X_test.shape);print(y_train.shape);print(y_test.shape);

#model
steps = [
    ("concatenate", ColumnConcatenator()),
    ("classify", TimeSeriesForestClassifier(n_estimators=100)),
]
clf = Pipeline(steps)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

print(tn, fp, fn, tp)
print(accuracy_score(y_test, y_pred))

/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa

430 140 274 75
0.5495103373231773

In [113]:
y_test.value_counts()

0    570
1    349
Name: bounce, dtype: int64

In [114]:
y_train.value_counts()

0    1744
1    1011
Name: bounce, dtype: int64

In [115]:
# from sktime.forecasting.compose import ReducedRegressionForecaster
from sklearn.ensemble import RandomForestRegressor
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.performance_metrics.forecasting import smape_loss

regressor = RandomForestRegressor()#Cassien dit: il faudrait du Classifier!
forecaster = ReducedRegressionForecaster(regressor, window_length=30)

forecaster.fit(y_train)
y_pred = forecaster.predict(fh)

ImportError: cannot import name 'smape_loss' from 'sktime.performance_metrics.forecasting' (/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/performance_metrics/forecasting/__init__.py)

In [116]:
x = [coord[0] for coord in xy17]
y = [coord[1] for coord in xy9]

plt.plot(x)

NameError: name 'xy17' is not defined

##  exploration modèle 10 frames

In [151]:
df_10= df_1.copy()

for i in range(10, 0, -1): 
  df_10[f'lagX_{i}'] = df_10['x'].shift(i, fill_value=0)

for i in range(10, 0, -1): 
  df_10[f'lagY_{i}'] = df_10['y'].shift(i, fill_value=0)
  df_10[f'lagV_{i}'] = df_10['V'].shift(i, fill_value=0)

df_10.drop(['x', 'y'], 1, inplace=True)
print(df_10.shape)
df_10

(3674, 32)

/tmp/ipykernel_532/2025464910.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_10.drop(['x', 'y'], 1, inplace=True)

,V,bounce,lagX_10,lagX_9,lagX_8,lagX_7,lagX_6,lagX_5,lagX_4,lagX_3,...,lagY_5,lagV_5,lagY_4,lagV_4,lagY_3,lagV_3,lagY_2,lagV_2,lagY_1,lagV_1
0,22.707046,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.000000
1,0.000000,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.000000,856.000,22.707046
2,0.000000,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000000,0.000,0.000000,0.000,0.000000,856.000,22.707046,852.000,0.000000
3,0.000000,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,961.000,...,0.000,0.000000,0.000,0.000000,856.000,22.707046,852.000,0.000000,852.000,0.000000
4,0.000000,0,0.000,0.000,0.000,0.000,0.000,0.000,961.000,954.000,...,0.000,0.000000,856.000,22.707046,852.000,0.000000,852.000,0.000000,852.000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669,22.062762,0,1030.500,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,...,259.625,21.829694,256.250,22.208768,252.875,22.400062,249.500,21.498194,246.125,22.050611
3670,21.409956,0,1043.125,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,...,256.250,22.208768,252.875,22.400062,249.500,21.498194,246.125,22.050611,242.750,22.062762
3671,13.623924,0,1055.750,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,...,252.875,22.400062,249.500,21.498194,246.125,22.050611,242.750,22.062762,239.375,21.409956
3672,15.243072,0,1068.375,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,1156.750,...,249.500,21.498194,246.125,22.050611,242.750,22.062762,239.375,21.409956,236.000,13.623924
3673,15.245651,0,1081.000,1093.625,1106.250,1118.875,1131.500,1144.125,1156.750,1169.375,...,246.125,22.050611,242.750,22.062762,239.375,21.409956,236.000,13.623924,244.000,15.243072

In [152]:
id_bounces = df_1.index[df_1.bounce==1]
for i in id_bounces:
    df_10.bounce.iloc[i+1:i+10]=1

/tmp/ipykernel_532/1686227602.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_10.bounce.iloc[i+1:i+10]=1

In [153]:
print(len(df_10[df_10.bounce==1]))
df_10.bounce.value_counts()

680

0    2994
1     680
Name: bounce, dtype: int64

In [154]:
Xs = df_10[['lagX_10', 'lagX_9', 'lagX_8', 'lagX_7', 'lagX_6', 'lagX_5', 'lagX_4', 'lagX_3',
       'lagX_2', 'lagX_1']]


Ys = df_10[['lagY_10', 'lagY_9', 'lagY_8', 'lagY_7', 'lagY_6', 'lagY_5', 'lagY_4',
       'lagY_3', 'lagY_2', 'lagY_1']]


Vs = df_10[['lagV_10', 'lagV_9', 'lagV_8', 'lagV_7', 'lagV_6', 'lagV_5',
       'lagV_4', 'lagV_3', 'lagV_2', 'lagV_1']]

In [155]:
Xs = from_2d_array_to_nested(Xs.to_numpy())
Ys = from_2d_array_to_nested(Ys.to_numpy())
Vs = from_2d_array_to_nested(Vs.to_numpy())
Xs

                                                      0
0     0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5...
1     0      0.0
1      0.0
2      0.0
3      0.0
4 ...
2     0      0.0
1      0.0
2      0.0
3      0.0
4 ...
3     0      0.0
1      0.0
2      0.0
3      0.0
4 ...
4     0      0.0
1      0.0
2      0.0
3      0.0
4 ...
...                                                 ...
3669  0    1030.500
1    1043.125
2    1055.750
3   ...
3670  0    1043.125
1    1055.750
2    1068.375
3   ...
3671  0    1055.750
1    1068.375
2    1081.000
3   ...
3672  0    1068.375
1    1081.000
2    1093.625
3   ...
3673  0    1081.000
1    1093.625
2    1106.250
3   ...

[3674 rows x 1 columns]

In [156]:
X_10 = pd.concat([Xs, Ys, Vs], 1)
#X = pd.concat([Xs, Ys], 1)
X_10.columns=["X", "Y", "V"]
X_10

/tmp/ipykernel_532/1192465338.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  X_10 = pd.concat([Xs, Ys, Vs], 1)

,X,Y,V
0,0 0.0 1 0.0 2 0.0 3 0.0 4 0.0 5...,0 0.0 1 0.0 2 0.0 3 0.0 4 0.0 5...,0 0.0 1 0.0 2 0.0 3 0.0 4 0.0 5...
1,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
2,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
3,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
4,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
...,...,...,...
3669,0 1030.500 1 1043.125 2 1055.750 3 ...,0 276.500 1 273.125 2 269.750 3 26...,0 22.090833 1 16.113106 2 22.403569 3...
3670,0 1043.125 1 1055.750 2 1068.375 3 ...,0 273.125 1 269.750 2 266.375 3 26...,0 16.113106 1 22.403569 2 22.256499 3...
3671,0 1055.750 1 1068.375 2 1081.000 3 ...,0 269.750 1 266.375 2 263.000 3 25...,0 22.403569 1 22.256499 2 22.674568 3...
3672,0 1068.375 1 1081.000 2 1093.625 3 ...,0 266.375 1 263.000 2 259.625 3 25...,0 22.256499 1 22.674568 2 21.829694 3...
3673,0 1081.000 1 1093.625 2 1106.250 3 ...,0 263.000 1 259.625 2 256.250 3 25...,0 22.674568 1 21.829694 2 22.208768 3...

In [157]:
X_10.isnull().sum()

X    0
Y    0
V    0
dtype: int64

In [158]:
y_10 = df_10.bounce
y_10.value_counts()

0    2994
1     680
Name: bounce, dtype: int64

In [159]:
bigdata_10fr = pd.concat([X_10, y_10], 1)
bigdata_10fr.to_csv('data/bigdata_10fr.csv')
#bigdata_10fr

/tmp/ipykernel_532/3155513804.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  bigdata_10fr = pd.concat([X_10, y_10], 1)

In [160]:
# je verifie que le fichier CSV soit bien chargé
csv_test = pd.read_csv('data/bigdata_10fr.csv')
csv_test
#separateur des series temporelles mal pris en compte!

,Unnamed: 0,X,Y,V,bounce
0,0,0 0.0\n1 0.0\n2 0.0\n3 0.0\n4 0...,0 0.0\n1 0.0\n2 0.0\n3 0.0\n4 0...,0 0.0\n1 0.0\n2 0.0\n3 0.0\n4 0...,0
1,1,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.000000\n1 0.000000\n2 0.000000...,0
2,2,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.000000\n1 0.000000\n2 0.000000...,0
3,3,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.000000\n1 0.000000\n2 0.000000...,0
4,4,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.0\n1 0.0\n2 0.0\n3 0.0...,0 0.000000\n1 0.000000\n2 0.000000...,0
...,...,...,...,...,...
3669,3669,0 1030.500\n1 1043.125\n2 1055.750\n3...,0 276.500\n1 273.125\n2 269.750\n3 ...,0 22.090833\n1 16.113106\n2 22.403569...,0
3670,3670,0 1043.125\n1 1055.750\n2 1068.375\n3...,0 273.125\n1 269.750\n2 266.375\n3 ...,0 16.113106\n1 22.403569\n2 22.256499...,0
3671,3671,0 1055.750\n1 1068.375\n2 1081.000\n3...,0 269.750\n1 266.375\n2 263.000\n3 ...,0 22.403569\n1 22.256499\n2 22.674568...,0
3672,3672,0 1068.375\n1 1081.000\n2 1093.625\n3...,0 266.375\n1 263.000\n2 259.625\n3 ...,0 22.256499\n1 22.674568\n2 21.829694...,0
3673,3673,0 1081.000\n1 1093.625\n2 1106.250\n3...,0 263.000\n1 259.625\n2 256.250\n3 ...,0 22.674568\n1 21.829694\n2 22.208768...,0

### test modèle seul

In [166]:
#TRain test split
#X10_train, X10_test, y10_train, y10_test = train_test_split(X_10, y_10) # Multivariate

#Train test split : methode manuelle de Philippe: 
nb_test = 800

X10_train = X_10.iloc[:-nb_test, :]
y10_train = y_10.iloc[:-nb_test]
X10_test = X_10.iloc[-nb_test+10:, :]
y10_test = y_10.iloc[-nb_test+10:]
print(X10_train.shape);print(X10_test.shape);print(y10_train.shape);print(y10_test.shape);

(2874, 3)
(790, 3)
(2874,)
(790,)

In [167]:
y10_test.value_counts()

0    590
1    200
Name: bounce, dtype: int64

In [168]:
steps = [("concatenate", ColumnConcatenator()),
         ("classify", TimeSeriesForestClassifier(min_interval=4,
                                                 n_estimators=100,
                                                 n_jobs=-1, random_state=None))]

clf = Pipeline(steps)
clf.fit(X10_train, y10_train)
y10_pred = clf.predict(X10_test)

/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa

In [169]:
from sklearn.metrics import confusion_matrix, roc_auc_score, precision_score, recall_score, accuracy_score, f1_score

#Metrics
confusion_matrix=confusion_matrix(y10_test, y10_pred)
roc_auc_score=roc_auc_score(y10_test, y10_pred)
precision_score=precision_score(y10_test, y10_pred)
recall_score=recall_score(y10_test, y10_pred)
accuracy_score=accuracy_score(y10_test, y10_pred)
f1_score=f1_score(y10_test, y10_pred)

In [170]:
print(confusion_matrix, roc_auc_score, precision_score, recall_score, accuracy_score, f1_score)
#tn, fp, fn, tp = confusion_matrix(y10_test, y10_pred).ravel()
#print(tn, fp, fn, tp)
#print(accuracy_score(y10_test, y10_pred))

[[556  34]
 [ 82 118]] 0.766186440677966 0.7763157894736842 0.59 0.8531645569620253 0.6704545454545454

### test modèle dans une boucle pour test des parametres

In [234]:
%%time

from sklearn.metrics import confusion_matrix, roc_auc_score, precision_score, recall_score, accuracy_score, f1_score

#parametres du modèles
min_intervals= [3,4,5,6] # [3,5,8] #[3,4,5,6] #[3 -- 6]
n_estimators= [100, 150, 200,250,300,350,400,450,500,550,600] # [100, 200, 300, 500] # [200,250,300,350,400,450,500,550,600] #[100 --- 600]

# Hyperparametres: create all combinations [(0.01, 0.2), (0.01, 0.5), (...)]
# import itertools
# hyperparams = itertools.product(min_interval, n_estimators)
# type(hyperparams[0][0])
# hyperparams[0]

roc_auc=[]
precision=[]
recall=[]
accuracy=[]
f1=[]
model = []
min_int = []
n_estim = []

#tests des hyperparametres sur TimeSeriesForestClassifier

#for hyperparam in hyperparams:
    #min_interval = hyperparam[0]
    #n_estimators = hyperparam[1]

for m_int in min_intervals:
    for n_est in n_estimators:
        classifier = TimeSeriesForestClassifier(min_interval = m_int,
                                                n_estimators=n_est,
                                                n_jobs=-1, random_state=None)
        
        steps = [("concatenate", ColumnConcatenator()),
                ("classify", classifier)]
        # model
        clf = Pipeline(steps)
        clf.fit(X10_train, y10_train)

        y10_pred = clf.predict(X10_test)

        #metrics
        roc_auc.append(roc_auc_score(y10_test, y10_pred))
        precision.append(precision_score(y10_test, y10_pred))
        recall.append(recall_score(y10_test, y10_pred))
        accuracy.append(accuracy_score(y10_test, y10_pred))
        f1.append(f1_score(y10_test, y10_pred))
        min_int.append(m_int)
        n_estim.append(n_est)
        #print(m_int, n_est, confusion_matrix(y10_test, y10_pred))

/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa
/home/j4n3/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sktime/datatypes/_panel/_convert.py:713: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for _label, _series in multi_ind_dataframe.iteritems():  # noqa

CPU times: user 2min 54s, sys: 2.99 s, total: 2min 57s
Wall time: 4min 44s

In [235]:
print("roc_auc", len(roc_auc))
print("precision", len(precision))
print("recall", len(recall))
print("accuracy", len(accuracy))
print("f1", len(f1))
#print("model", len(model))

roc_auc 12
precision 12
recall 12
accuracy 12
f1 12

In [228]:
#pour Cassien
pd.Series(y10_pred).to_csv('data/y10_pred.csv')
# je verifie que le fichier CSV soit bien chargé
csv_test1 = pd.read_csv('data/y10_pred.csv')
csv_test1

     Unnamed: 0  0
0             0  0
1             1  1
2             2  1
3             3  1
4             4  1
..          ... ..
785         785  1
786         786  1
787         787  1
788         788  1
789         789  1

[790 rows x 2 columns]

In [175]:
#print("roc_auc", roc_auc)
#print("precision", precision)
#print("recall", recall)
#print("accuracy", accuracy)
#print("f1", f1)
#print("model", model)
#print("min_int", min_int)
#print("n_estim", n_estim)

In [236]:
#sortie
dico = dict(min_int = min_int, n_estim = n_estim, roc_auc=roc_auc, precision_score=precision,
            recall_score=recall, accuracy_score=accuracy, f1_score=f1)
metrics = pd.DataFrame(dico)

#confusion_matrix=confusion_matrix(y10_test, y10_pred)
#print(confusion_matrix)

print(metrics.precision_score.idxmax())
metrics.sort_values(by="precision_score")

0

,min_int,n_estim,roc_auc,precision_score,recall_score,accuracy_score,f1_score
11,8,500,0.790725,0.833846,0.713158,0.793671,0.768794
9,8,200,0.782542,0.837061,0.689474,0.786076,0.756133
8,8,100,0.793068,0.841121,0.710526,0.796203,0.770328
10,8,300,0.798331,0.843077,0.721053,0.801266,0.777305
5,5,200,0.812805,0.848214,0.750000,0.815190,0.796089
7,5,500,0.812805,0.848214,0.750000,0.815190,0.796089
4,5,100,0.803306,0.851393,0.723684,0.806329,0.782361
6,5,300,0.805841,0.854489,0.726316,0.808861,0.785206
1,3,200,0.808376,0.857585,0.728947,0.811392,0.788051
3,3,500,0.805648,0.858934,0.721053,0.808861,0.783977
2,3,300,0.817587,0.860606,0.747368,0.820253,0.800000
0,3,100,0.825289,0.867470,0.757895,0.827848,0.808989

In [238]:
# Output et sauvegarde des metrics: penser à changer le numero de version pour ne pas écraser les précédentes!
pd.DataFrame(metrics.sort_values(by="precision_score")).to_csv('data/output/metrics3.csv')
# je verifie que le fichier CSV soit bien chargé
check_csv = pd.read_csv('data/output/metrics1.csv')
check_csv

,Unnamed: 0,min_int,n_estim,roc_auc,precision_score,recall_score,accuracy_score,f1_score
0,8,8,100,0.791945,0.836420,0.713158,0.794937,0.769886
1,11,8,500,0.787901,0.836991,0.702632,0.791139,0.763948
2,9,8,200,0.791849,0.838509,0.710526,0.794937,0.769231
3,10,8,300,0.798427,0.840979,0.723684,0.801266,0.777935
4,4,5,100,0.800770,0.848297,0.721053,0.803797,0.779516
5,7,5,500,0.805937,0.852308,0.728947,0.808861,0.785816
6,0,3,100,0.812420,0.856707,0.739474,0.815190,0.793785
7,5,5,200,0.820411,0.857143,0.757895,0.822785,0.804469
8,2,3,300,0.808376,0.857585,0.728947,0.811392,0.788051
9,1,3,200,0.809596,0.860248,0.728947,0.812658,0.789174
10,6,5,300,0.810911,0.860681,0.731579,0.813924,0.790896
11,3,3,500,0.816175,0.862385,0.742105,0.818987,0.797737

In [50]:
#clf.get_params()

{'memory': None,
 'steps': [('concatenate', ColumnConcatenator()),
  ('classify',
   TimeSeriesForestClassifier(min_interval=8, n_estimators=500, n_jobs=-1))],
 'verbose': False,
 'concatenate': ColumnConcatenator(),
 'classify': TimeSeriesForestClassifier(min_interval=8, n_estimators=500, n_jobs=-1),
 'concatenate___output_convert': 'auto',
 'classify__min_interval': 8,
 'classify__n_estimators': 500,
 'classify__n_jobs': -1,
 'classify__random_state': None}

In [177]:
y10_test.value_counts()

0    590
1    200
Name: bounce, dtype: int64

In [178]:
y10_train.value_counts()

0    2394
1     480
Name: bounce, dtype: int64

In [ ]:
# Modèles utilisés par projet Tennis on Github

# TimeSeriesForestClassifier
# ReducedRegressionForecaster : à oublier
# RandomForestClassifier
# RandomIntervalSpectralForest
# DecisionTreeClassifier
# KNeighborsTimeSeriesClassifier
# BOSSEnsemble + TimeSeriesForestClassifier
# MrSEQLClassifier (Bespoke Classification) : à oublier

# algo "random seed" : donne toujours le même aléatoire pour fitter un modéle

### fonctions de Cassien pour generer X et y

In [190]:
# Generate a new X

import pandas as pd
from sktime.datatypes._panel._convert import from_2d_array_to_nested

# Generate X with 10 lags per sequence
# -----------------------------------------------------------------------------#

def generate_X10(df):
    #Generation of lags for df shape(x,y,V). Take care ! Index needed !
    data = pd.DataFrame()
    for i in range(10, 0, -1):
        data[f'lagX_{i}'] = df['x'].shift(i, fill_value=0)
        data[f'lagY_{i}'] = df['y'].shift(i, fill_value=0)
        data[f'lagV_{i}'] = df['V'].shift(i, fill_value=0)

    #Generation of sequences
    Xs = data[[
        'lagX_10','lagX_9', 'lagX_8', 'lagX_7', 'lagX_6', 'lagX_5', 'lagX_4', 'lagX_3',
        'lagX_2', 'lagX_1'
    ]]

    Xs = from_2d_array_to_nested(Xs.to_numpy()) # <- pack all lags in one sequence per row

    Ys = data[[
            'lagY_10', 'lagY_9', 'lagY_8', 'lagY_7', 'lagY_6', 'lagY_5', 'lagY_4',
            'lagY_3', 'lagY_2', 'lagY_1'
    ]]

    Ys = from_2d_array_to_nested(Ys.to_numpy())

    Vs = data[[
        'lagV_10', 'lagV_9', 'lagV_8', 'lagV_7', 'lagV_6', 'lagV_5',
            'lagV_4', 'lagV_3', 'lagV_2', 'lagV_1'
    ]]

    Vs = from_2d_array_to_nested(Vs.to_numpy())

    X = pd.concat([Xs, Ys, Vs],1) # <- !!! X.columns => ['0','0','0'] <- Concatenator() error if same index

    X.columns=["X", "Y", "V"]

    return X

# -----------------------------------------------------------------------------#
#Generate X with 20 lags per sequence

def generate_X20(df):
    #Generation of lags for df shape(x,y,V). Take care ! Index needed !
    data = pd.DataFrame()
    for i in range(20, 0, -1):
        data[f'lagX_{i}'] = df['x'].shift(i, fill_value=0)
        data[f'lagY_{i}'] = df['y'].shift(i, fill_value=0)
        data[f'lagV_{i}'] = df['V'].shift(i, fill_value=0)

    #Generation of sequences
    Xs = data[[
        'lagX_20', 'lagX_19', 'lagX_18', 'lagX_17', 'lagX_16',
        'lagX_15', 'lagX_14', 'lagX_13', 'lagX_12', 'lagX_11',
        'lagX_10', 'lagX_9', 'lagX_8', 'lagX_7', 'lagX_6',
        'lagX_5', 'lagX_4', 'lagX_3','lagX_2', 'lagX_1'
    ]]

    Xs = from_2d_array_to_nested(Xs.to_numpy()) # <- pack all lags in one sequence per row

    Ys = data[[
        'lagY_20', 'lagY_19', 'lagY_18', 'lagY_17','lagY_16',
        'lagY_15', 'lagY_14', 'lagY_13', 'lagY_12', 'lagY_11',
        'lagY_10', 'lagY_9', 'lagY_8', 'lagY_7', 'lagY_6',
        'lagY_5', 'lagY_4', 'lagY_3', 'lagY_2', 'lagY_1'
    ]]

    Ys = from_2d_array_to_nested(Ys.to_numpy())

    Vs = data[[
        'lagV_20', 'lagV_19', 'lagV_18','lagV_17', 'lagV_16',
        'lagV_15', 'lagV_14', 'lagV_13', 'lagV_12','lagV_11',
        'lagV_10', 'lagV_9', 'lagV_8', 'lagV_7', 'lagV_6',
        'lagV_5', 'lagV_4', 'lagV_3', 'lagV_2', 'lagV_1'
    ]]

    Vs = from_2d_array_to_nested(Vs.to_numpy())

    X = pd.concat([Xs, Ys, Vs], 1) # <- !!! X.columns => ['0','0','0'] <- Concatenator() error if same index

    X.columns=["X", "Y", "V"]

    return X

# -----------------------------------------------------------------------------#

#Generate X,y train 10lags per sequence

def generate_data10_train(df):
    #Generation of lags for df shape(x,y,V). Take care ! Index needed !

    id_bounces = df.index[df.bounce==1]
    for i in id_bounces:
        df.bounce.iloc[i+1:i+10]=1
        y_train = df.bounce

    df = df.drop('bounce', axis=1)

    data = pd.DataFrame()
    for i in range(10, 0, -1):
        data[f'lagX_{i}'] = df['x'].shift(i, fill_value=0)
        data[f'lagY_{i}'] = df['y'].shift(i, fill_value=0)
        data[f'lagV_{i}'] = df['V'].shift(i, fill_value=0)

    #Generation of sequences
    Xs = data[[
        'lagX_10','lagX_9', 'lagX_8', 'lagX_7', 'lagX_6', 'lagX_5', 'lagX_4', 'lagX_3',
        'lagX_2', 'lagX_1'
    ]]

    Xs = from_2d_array_to_nested(Xs.to_numpy()) # <- pack all lags in one sequence per row

    Ys = data[[
            'lagY_10', 'lagY_9', 'lagY_8', 'lagY_7', 'lagY_6', 'lagY_5', 'lagY_4',
            'lagY_3', 'lagY_2', 'lagY_1'
    ]]

    Ys = from_2d_array_to_nested(Ys.to_numpy())

    Vs = data[[
        'lagV_10', 'lagV_9', 'lagV_8', 'lagV_7', 'lagV_6', 'lagV_5',
            'lagV_4', 'lagV_3', 'lagV_2', 'lagV_1'
    ]]

    Vs = from_2d_array_to_nested(Vs.to_numpy())

    X = pd.concat([Xs, Ys, Vs],1) # <- !!! X.columns => ['0','0','0'] <- Concatenator() error if same index

    X.columns=["X", "Y", "V"]

    return X, y_train

# -----------------------------------------------------------------------------#

#Generate X,y train 10lags per sequence

def generate_data20_train(df):
    #Generation of lags for df shape(x,y,V). Take care ! Index needed !

    id_bounces = df.index[df.bounce==1]
    for i in id_bounces:
        df.bounce.iloc[i+1:i+20]=1
        y_train = df.bounce

    df = df.drop('bounce', axis=1)

    data = pd.DataFrame()
    for i in range(20, 0, -1):
        data[f'lagX_{i}'] = df['x'].shift(i, fill_value=0)
        data[f'lagY_{i}'] = df['y'].shift(i, fill_value=0)
        data[f'lagV_{i}'] = df['V'].shift(i, fill_value=0)

    #Generation of sequences
    Xs = data[[
        'lagX_20', 'lagX_19', 'lagX_18', 'lagX_17', 'lagX_16',
        'lagX_15', 'lagX_14', 'lagX_13', 'lagX_12', 'lagX_11',
        'lagX_10', 'lagX_9', 'lagX_8', 'lagX_7', 'lagX_6',
        'lagX_5', 'lagX_4', 'lagX_3','lagX_2', 'lagX_1'
    ]]

    Xs = from_2d_array_to_nested(Xs.to_numpy()) # <- pack all lags in one sequence per row

    Ys = data[[
        'lagY_20', 'lagY_19', 'lagY_18', 'lagY_17','lagY_16',
        'lagY_15', 'lagY_14', 'lagY_13', 'lagY_12', 'lagY_11',
        'lagY_10', 'lagY_9', 'lagY_8', 'lagY_7', 'lagY_6',
        'lagY_5', 'lagY_4', 'lagY_3', 'lagY_2', 'lagY_1'
    ]]

    Ys = from_2d_array_to_nested(Ys.to_numpy())

    Vs = data[[
        'lagV_20', 'lagV_19', 'lagV_18','lagV_17', 'lagV_16',
        'lagV_15', 'lagV_14', 'lagV_13', 'lagV_12','lagV_11',
        'lagV_10', 'lagV_9', 'lagV_8', 'lagV_7', 'lagV_6',
        'lagV_5', 'lagV_4', 'lagV_3', 'lagV_2', 'lagV_1'
    ]]

    Vs = from_2d_array_to_nested(Vs.to_numpy())

    X = pd.concat([Xs, Ys, Vs], 1) # <- !!! X.columns => ['0','0','0'] <- Concatenator() error if same index

    X.columns=["X", "Y", "V"]

    return X, y_train

#Generate train/test/split for dataframe lags

def tts_lags(df):
    nb_test = 800
    X_train = df.iloc[:-nb_test, :-1]
    y_train = df.iloc[:-nb_test, -1]
    X_test = df.iloc[-nb_test:, :-1]
    y_test = df.iloc[-nb_test:, -1]


#Generate train/test/split for timeseries df

def tts_timeseries(X,y):
    nb_test = 800
    X_train = X.iloc[:-nb_test, :]
    y_train = y.iloc[:-nb_test]
    X_test = X.iloc[:nb_test-10, :]
    y_test = y.iloc[:nb_test-10]

    return X_train, X_test, y_train, y_test

#Generate timeseries + train/test/split

def get_timeseries_and_tts(df):
    X, y = generate_data10_train(df)

    X_train, X_test, y_train, y_test = tts_timeseries(X,y)

    return X_train, X_test, y_train, y_test

In [191]:
df_new = pd.read_csv('data/BigDataFrame.csv')
df_new.head()

       x      y          V  bounce
0  961.0  856.0  22.707046       0
1  954.0  852.0   0.000000       0
2  954.0  852.0   0.000000       0
3  954.0  852.0   0.000000       0
4  954.0  852.0   0.000000       0

In [192]:
X_train, X_test, y_train, y_test =get_timeseries_and_tts(df_new)

/tmp/ipykernel_532/2873562571.py:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.bounce.iloc[i+1:i+10]=1
/tmp/ipykernel_532/2873562571.py:132: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  X = pd.concat([Xs, Ys, Vs],1) # <- !!! X.columns => ['0','0','0'] <- Concatenator() error if same index

In [193]:
X_train.head()

,X,Y,V
0,0 0.0 1 0.0 2 0.0 3 0.0 4 0.0 5...,0 0.0 1 0.0 2 0.0 3 0.0 4 0.0 5...,0 0.0 1 0.0 2 0.0 3 0.0 4 0.0 5...
1,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
2,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
3,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...
4,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.0 1 0.0 2 0.0 3 0.0 4 ...,0 0.000000 1 0.000000 2 0.000000 3...

In [194]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2874, 3)
(790, 3)
(2874,)
(790,)